<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
      <nav>
        <a href="{{ url_for('index') }}">Back</a>
      </nav>
    <div class="text-box">
        <h1>About</h1>
        <br>
        <p>
            Many Americans are moving to disaster prone areas. This app helps alleviate the problem by providing insight and suggesting action to benefit the community.
    Sources:
    https://www.epa.gov/climate-indicators/climate-change-indicators-wildfires
    https://www.nssl.noaa.gov/education/svrwx101/floods/
    https://news.mit.edu/2022/wildfire-smoke-ozone-depletion-0228
    https://www.mass.gov/info-details/hurricane-safety-tips
    https://www.bloomberg.com/graphics/2021-moves-into-fire-zones/
    https://www.gfdl.noaa.gov/global-warming-and-hurricanes/
        </p>
    </div>
  </body>
</html>
